* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 125px;
    font-family: 'PT Sans', sans-serif;
}

/*UTILITY*/

.container {
    max-width: 600px;
    margin: 0 auto;
}

.text-ctr {
    text-align: center;
}

.text-rgt {
    text-align: right;
}

header a, main a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

h3 {
    font-size: 21px;
    margin-bottom: 25px ;
}

p {
    margin-bottom: 30px;
    line-height: 30px;
}

img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.cl-white {
    color: white;
}

.cl-purple {
    color: #9792E4;
}

/*HEADER*/
header li{
    margin-left: 30px;
}

header {
    padding: 0 30px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0084FD;
    box-shadow: 0px 1px 2px gray;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 50px;
    flex-basis: 25%;
}

.logo img {
    width: 85px;
}

.nav {
    height: 50px;
    flex-basis: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ham-menu {
    height: 50px;
    color: white;
    font-size: 1.2em;
    line-height: 50px;
    position: relative;
}

.link {
    position:absolute;
    top: 48px;
    right: -30px;
    display: none;
    height: auto;
    width: 150px;
    border-radius: 5px;
    line-height: 50px;
    background-color: #0084FD;
}

/*MAIN*/

/*INTRO*/
.intro h3 {
    color: #0084FD;
}

.intro .card{
    background-color: #B5DDFF;
    border-radius: 20px;
}

.intro p {
    font-weight: 700;
    color: #5A6D7E;
}

.card.big i{
    font-size: 1rem;
    color: white;
}

.intro i {
    font-size: 4.4rem;
    color: #0084FD;
    margin-bottom: 20px;
}

.intro .image {
    padding: 0 20px ;
    max-width: 280px;
    align-self: end;
}

.cards, .big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-bottom: 25px;
}

.content {
    padding: 30px;
    width: 100%;
}

.image {
    padding: 0 20px ;
    width: 100%;
}

main .btn {
    height: 40px;
    border-radius: 25px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    padding: 0 50px;
}

.bg-blue {
    background-color:#0084FD;
}

/*PLANNING*/

.bg-white {
    background-color: #fff;
}

.bg-purple {
    background-color:#9792E4;
}

.circle-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9792E4;
    text-align: center;
    line-height: 50px;
}

.planning {
    background-color: #9792E4;
}

.dev.card {
    background-color: white;
    border-radius: 45px;
    padding: 30px 20px;
}

.strategic.card p {
    margin-bottom: 0;
}

/*TESTIMONIALS*/

.testimonial .content {
    text-align: center;
}

.content.text {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.testimonial .card {
    display: flex;
    flex-wrap: wrap;
    background-color:#9792E4;
    border-radius: 35px;
}

.testimonial .name {
    font-weight: 700;
    font-size: 20px;
}

.testimonial .content i {
    font-size: 22px;
}

.circle-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 20px;
}

.circle-img.test1 {
    background-image: url(../img/testimonial1.jpg);
}

.circle-img.test2 {
    background-image: url(../img/testimonial2.jpg);
}

.circle-img.test3 {
    background-image: url(../img/testimonial3.jpg);
}

/*SEZIONE BENEFICI*/

.benefits {
    background-color: #9792E4;
}

.benefits .card {
    background-color: white;
    border-radius: 20px;
}

.benefits p {
    color: #5A6D7E;
}


/*TABLET*/
@media screen and (min-width:768px){

    .container {
        max-width: 850px;
    }

    .intro .card {
        width: 32%;
    }

    .big.card{
        width: 66%;
    }

        .testimonial .card .content {
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .testimonial .image {
        width: 255px;
        padding-bottom: 20px ;
    }

    .benefits .card {
        width: 48%;
    }

}

/*DESKTOP*/
@media screen and (min-width:992px) {
    .container {
        max-width: 1000px;
    }

/* Header */
    .link {
        display: inline;
        position:static;
        height: 50px;
        line-height: 50px;
    }

    .ham-menu i{
        display: none;
    }

    .nav .ham-menu:hover .link {
        display: inline;
    }

    .link li{
        height: 100%;
        display: inline-block;
    }

    header .btn {
        height: 40px;
        border-radius: 25px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        font-weight: 700;
        padding: 0 50px;
        width: auto;
        color: black;
        font-weight: 400;
        padding: 0 10px;
        background-color: white;
        transition-duration: 0.5s;
    }

    header .btn:hover{
        border: 1px solid white;
        background-color: #0084FD;
        color: white;
        cursor: pointer;
        }

    .underline:hover{
        text-decoration: underline;
    }

    /*MAIN*/

    .big .content, .big .image {
        width: 50%;
    }

    /*PIANI*/
    .planning .card {
        width: 48%;
    }

    .planning .cards {
        width: 80%;
        margin: auto;
    }

    .dev.card {
        align-self: flex-end;
        padding: 30px 45px;
    }

    .dev.card img {
        width: 80%;
        margin: 0 auto;
    }

    /*TESTIMONIALS*/
    .testimonial p{
        font-size: 19px;
    }

    .testimonial h2{
        font-size: 45px;
    }

    .intro p {
        font-size: 18px;
    }


}
